[submodule "lib/Leaflet.MousePosition"]
	path = lib/Leaflet.MousePosition
	url = https://github.com/ardhi/Leaflet.MousePosition
[submodule "lib/Leaflet-MiniMap"]
	path = lib/Leaflet-MiniMap
	url = https://github.com/Norkart/Leaflet-MiniMap.git
[submodule "lib/Leaflet.markercluster"]
	path = lib/Leaflet.markercluster
	url = https://github.com/Leaflet/Leaflet.markercluster.git
[submodule "Leaflet.Graticule"]
	path = Leaflet.Graticule
	url = https://github.com/turban/Leaflet.Graticule.git
[submodule "lib/Leaflet.Graticule"]
	path = lib/Leaflet.Graticule
	url = https://github.com/turban/Leaflet.Graticule.git
