
#charts {
  padding: 0 0;
}

.disabled {
  opacity: 0.2; 
  pointer-events: none; 
  cursor: default;
}

.chart {
  display: inline-block;
  margin: 0 20px 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #555;
}

.preset {
  padding-left: 1em;
  font-size: smaller;
  color: #555;
}

.background.bar {
  fill: #ccc;
}

.dc-chart g.row text {
  fill: #333;
}

#chart-depth .foreground.bar {
  fill: #2EA3DB;
}

#chart-age .foreground.bar {
  fill: #F5B441;
}

#chart-age svg {
  padding-top: 1em;
  overflow: visible;
}

.axis path, .axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
  fill: #333;
}

.x-axis-label,.y-axis-label {
  font: 10px sans-serif;
  fill: #333;
}

.dc-chart-title {
  color: #333;
  font-weight: normal;
  font-style: italic;
}

.filter {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  text-align: left;
}

.imghelp {
  border-radius: 10px;
} 

.pointer {
  cursor: pointer;
}

.symbol {
  opacity: 0.5;
}

#dcTable table {
 table-layout: fixed;
}

#dcTable td {
  cursor: pointer;
  color: #333;
  font-size: 13px;
  padding: 0px;
  background: #eee;
}

#dcTable tr {
  background: #ddd;
}

#dcTable tr:hover td {
  font-weight: bold;
  background: #ccc;
}

#dcTable th {
  color: #333;
  font-weight: normal;
  font-style: italic;
  padding: 0px;
  background: #ddd;
}

#dcTable tbody {
    display: block;
    height: 150px;     
    overflow-y: auto;  
    overflow-x: hidden;  
}

#dcTable>thead>tr>th, #dcTable>tbody>tr>td {
    float: left;
}

#dcTable .th_Id , #dcTable .dc-table-column._0 { width: 40px;  text-align: right; padding-right: 5px; }
#dcTable .th_Dep, #dcTable .dc-table-column._1 { width: 50px; text-align: right; }
#dcTable .th_Mos, #dcTable .dc-table-column._2 { width: 100px; text-align: right; padding-left: 20px; }
#dcTable .th_Old, #dcTable .dc-table-column._3 { width: 80px; text-align: right; }
#dcTable .th_Arc, #dcTable .dc-table-column._4 { width: 130px; text-align: left; padding-left: 40px; }
#dcTable .th_Mat, #dcTable .dc-table-column._5 { width: 160px; text-align: left; }
#dcTable .th_DOI, #dcTable .dc-table-column._6 { width: 220px; text-align: left; }
#dcTable .th_Ref, #dcTable .dc-table-column._7 { width: 374px; text-align: left; }

#dcTable .dc-table-column._4, #dcTable .dc-table-column._5, #dcTable .dc-table-column._6, #dcTable .dc-table-column._7 {
}

#dcTable .dc-table-column._6, #dcTable .dc-table-column._7 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
